<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='css/vistaprincipal.css'>

    <title>home</title>

  
</head>
<header>
    <ol class="menu">
        <ul><a href="/">Inicio</a></ul>
        <ul><a href="/">Login</a></ul>
        <ul> <a href="">Contacto</a></ul>
    </ol>
    
    

</header>
<img class="banner" src="/img/banner.png" alt="no sale">
<body>
    <h1>Más Populares</h1>
    <section>
        <div class="caja-general">
    
            <img class="imagenes-productos" src="/img/hotel1.jpg" alt="no se puede">
            <div class="caja-elementos">
                <p class=" precio">Precio : 17,000$</p>
                <p class="Descuento">Descuento : 30% OFF</p>
                <p class="Descripcion">Hotel Lunas Nuevas</h4>
            </div>
        
        </div>
        <div class="caja-general">
    
            <img class="imagenes-productos"src="/img/hotel2.jpg" alt="no se puede">
            <div class="caja-elementos">
                <p class=" precio">Precio : 30,000$</p>
                <p class="Descuento">Descuento : 60% OFF</p>
                <p class="Descripcion">Hotel Cinco Cabras</h4>
            </div>
        
        </div>
        <div class="caja-general">
    
            <img class="imagenes-productos" src="/img/hotel3.jpg" alt="no se puede">
            <div class="caja-elementos">
                <p class=" precio">Precio : 19,000$</p>
                <p class="Descuento">Descuento : 50% OFF</p>
                <p class="Descripcion">Hotel Vacas Gordas</h4>
            </div>
        
        </div>

    </section>
    
    
</body>


<footer>

</footer>
</html>